<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css">
    <script type='text/javascript' src='https://hydrostaticcog.org/scripts/alert.js'></script>
    <title>Outages - hydrostaticcog</title>
    <link rel="shortcut icon" type="image/png" href="../../assets/hydrostaticcog.png"/>
</head>
<body>
    <div class="alert" style='display: none' id='alert1'>
            <h3><span id='alerts'></span><br>Learn more at <span id='alertButton'></span></h3>
    </div>
    <div class='content'>
        <div class='header'>
            <h1><img src="../../assets/hydrostaticcog.png" alt="hydrostaticcog" width="70" class='logo'>hydrostaticcog</h1>
        </div>
        <nav class="topnav">
            <a href='https://hydrostaticcog.org/'; class="navbar-item">Home</a>
        </nav>
        <h1>Server Outage Template</h1>
        <p></p>The following services are being affected: 
            <li>Mail Services (@hydrostaticcog.org and @alamocraft.com)</li>
            <li>Minecraft Servers (Vega SMP and Delos SMP)</li>
            <li>Discord Bots (Grick Heart and McPy Helper)</li>
        </p>
        <h3>You can see exactly what the status of these issues are at <a href='https://status.hydrostaticcog.org' style='text-decoration: none; color: blue;'>Status Page</a></h3>
        <nav class="footnav">
            <a onclick="location.href='index.html';" class="navbar-item">Home</a>
            <a onclick="location.href='projects.html';" class="navbar-item">Projects</a>
            <a onclick="location.href='contact.html';"" class="navbar-item">Contact</a>
            <a href="https://mail.hydrostaticcog.org" class="navbar-item">WebMail</a>
            <p>&copy hydrostaticcog 2021</p>
        </nav>
    </div>
</body>
</html>